.banner-container{
    background-color: var(--main-color);
    color: var(--light-gray);
    text-align: center;
    margin-top: 2rem;
    font-family: NotoSansDisplay, NotoSansDisplay-fallback, Arial, sans-serif;
    padding: 2rem 2rem;
}

.banner-container h1 {
    padding: 2rem;
    padding-top: 1rem;
    margin: auto;
    font-weight: 600;
    font-size: 45px;
}

.banner-container img {
    max-width: 600px;
    margin: auto;
}

.banner-text h4{
    font-weight: 600;
    text-align: start;
    font-size: 30px;
    padding-top: 2rem;
    position: relative;
}

.banner-text h5 {
    padding-top: 2rem;
    font-size: 25px;
    text-align:justify;
}
.banner-text button{
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 30px;
    color: var(--main-color);
    font-weight: 600;
}
.banner-text span {
    color: var(--secondary-color)
}

.logo-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  @media (max-width:800px) {
    .logo-container{
        display: none;
    }
    
  }