.side-cart-item .card{ 
    max-width: 100%;
    cursor:default;
}

.side-cart-item .card:hover{ 
    
    transform: scale(1.0);
}

.side-cart-item .card img {
    height: 150px;
    width: 150px;
}

.side-cart-item .card-title {
    max-width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 800;
    margin: 0;
}
.card-title button{
    border: none;
    background-color: transparent;
    font-size: 30px;
    position:absolute;
    top: 0;
    right: 2%;
    height: 50px;
    width: 50px;
    margin: none !important;
}

.card-title button:hover{
    
    background-color: var(--main-color);
    color: var(--light-gray);
    
}
.sidecart-item-modifiers{
    font-size: small;
    max-height: 60px;
}

.sidecart-item-modifiers p {
    max-height: 18px !important;
    margin: 0;
    margin-top: 2px !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body {
    color:var(--main-color);
    font-weight: 600;
}

.prices{
    font-size: 15px;
}

.prices button {
    
    border: none;
    background-color: var(--main-color);
    color: var(--light-gray);
    width: 30px;
    height: 30px;
    font-weight: 600;
}

.prices button:disabled {
    
   background-color: var(--light-gray);
   color: var(--dark-gray);
}