.container {
    font-family: NotoSansDisplay, NotoSansDisplay-fallback, Arial, sans-serif;
}

body {
    scrollbar-width: 0px;

    
  }

 a{
    text-decoration: none;
    color: inherit;
 }

 .page-container{
    min-height: 100vh;
    position: relative;
 }

