.container{
    overflow: hidden;
}
.container h1{
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
    margin: 2rem;
}


 .card-group {
    scroll-behavior: smooth;
 }



@media (min-width: 100px){
    .card-group {
    display: flex;
    flex-flow: row wrap;
}
}

#slider{
    transition: transform 0.3s ease-in-out;
}

.group-container {
    margin-top: 2rem;
    width: 100%;
    position: relative;
}

.group-container:hover .scroll-buttons button{
    opacity: 1;
    
    

}



.scroll-buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position:absolute;
    left: 0;
    right: 0;
    
}

.scroll-buttons button{
    padding: 1rem 1.5rem;
    background-color: var(--main-color);
    color: var(--light-gray);
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    
}

@media (max-width: 1400px) {
    .scroll-buttons button{
        opacity: 0.7;
        
        
    }
}



.scroll-buttons .left {
    
}



/*    Card Styling   */



.badges{
    display: flex;
    gap: 8px;
    color: var(--light-gray);
    position: absolute;
    top: 8px;
    left: 8px;
}

.badges .discount-badge{
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.badges .new-badge{
    background-color: var(--accent-color-1);
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}


.card{ 
    margin: auto;
    cursor: pointer;
    max-width: 18rem;
    transition: transform 0.3s ease;
    border: 1px solid var(--main-color)
}




@media (max-width:992px) {
   .card-container {
    margin: auto;
} 
.ratings {
    overflow: hidden;
    text-overflow: ellipsis;
}

}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

.card-img-top {
    background-image: url("../../media/background/bg1.jpg");
    background-size: cover;
    
}

.card-title {
    color: var(--main-color);
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

}

.card-text span {
    text-decoration: line-through;
    color: var(--dark-gray);
    font-weight: 600;
}

.prices h3{
    margin-top: auto;
}

.card-body {
    height: 9rem;
}

@keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }



.card-text h3{
    color: var(--main-color);
    font-weight: 800;
    font-size: 20px;
}

.card-text p{
    margin-top: 5px;
    max-height: 15px;
}

.imgCol{
    background-image: url("../../media/background/bg2.jpg") !important ;
    background-size: cover;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 25px;
}


.modal-body {
    background-color: var(--light-gray) !important;
    max-height: 60vh;
    overflow: scroll;
    
    
}




.modal-body h5, p{
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

.modal-body h5 {
    font-weight: 600;
    margin-top: 10px;
}
.modal .container {
    
    padding: 1rem;
    color: var(--main-color);
}


.modal-header {
    background-color: var(--main-color);
}
.modal-title{
    color: var(--light-gray);
    font-weight: 700;
}


.modal-footer{
    background-color: var(--main-color);
    max-width: 100%;
    margin: auto;
    
}
.modal-footer h5{
    color: var(--light-gray);
    font-weight: 700;
}




.modal-footer button {
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    background-color: var(--main-color);
    font-weight: 600;
    padding: 0.5rem 1rem;
    
}

.dataCol .color-buttons {
    display: flex;
    gap:5px;
    padding: 0.5rem 0
}
.dataCol .color-button{
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
    
}

.dataCol .color-button.active{
    border: 2px solid var(--accent-color-1);
    border-radius: 20px;
}

.dataCol .ram-button{
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: smaller;
    color: var(--main-color);
    border: 1px solid var(--secondary-color);
    /* background-color: var(--secondary-color); */
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

.dataCol .ram-button.active{
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
}

.dataCol .storage-button{
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: smaller;
    color: var(--main-color);
    border: 1px solid var(--secondary-color);
    /* background-color: var(--secondary-color); */
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

.dataCol .storage-button.active{
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
}

