/*    Card Styling   */



.discount-badge{
    background-color: var(--accent-color-1);
    font-weight: 500;
    color: var(--light-gray);
    padding: 5px;
    border-radius: 10px;
}
.card{ 
    margin: auto;
    cursor: pointer;
}




@media (max-width:992px) {
   .card-container {
    margin: auto;
} 
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

.card-img-top {
    background-image: url("../../media/Objects/BackgroundImageModal.png");
    background-size: cover;
    
}

.card-title {
    color: var(--light-gray);
    
}

.card-text span {
    text-decoration: line-through;
    color: var(--accent-color-2)
}

.card-body {
    padding: 5px !important;
    margin-top: auto;
    height: fit-content;
    background-color: rgba(0, 123, 255, 0.4);
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

.group-container {
    margin-top: 2rem;
}



.card-text:last-child{
    color: var(--light-gray);
    font-weight: 600;
    font-size: 20px;
}
